%h1 New Comment

= simple_form_for [@cosmetic, @comment] do |f|
 =f.input :body
 =f.input :user_id, as: :select, collection: User.all, include_blank: false
 =f.submit
= link_to 'Cancel', cosmetic_path(@cosmetic)
